/* Mobile landscape 736px */
@media (min-width: 736px) {
  .col-mobile-land-33 {
    width: 33.33%;
    float: left; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-tablet-33 {
    width: 33.33%; } }

/* Large devices (large tablets, desktops, 992px and up) */
@media (min-width: 992px) {
  .col-large-tablet-33 {
    width: 33.33%; } }

@media (min-width: 992px) {
  .col-large-tablet-66 {
    width: 66.67%; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-desktop-33 {
    width: 33.33%; } }

header,
main {
  max-width: 1500px;
  margin: 0 auto; }

body {
  height: 300vh; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }

a,
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: none; }

.mobile-nav {
  overflow: hidden;
  position: relative;
  background-image: url("../image/mobile-header-gradient.jpg");
  background-position: left;
  background-repeat: repeat-y;
  border-bottom: 1px solid #f7f7f7;
  text-align: center; }
  .mobile-nav a {
    color: #4c4a55;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .mobile-nav .icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px; }

.menu-mobile {
  display: none; }

.opened {
  display: block; }

@media (min-width: 768px) {
  .topnav a {
    font-size: 20px; }
    .topnav a.icon {
      font-size: 34px; } }

@media (min-width: 576px) {
  .topnav a {
    font-size: 18px; }
    .topnav a.icon {
      font-size: 30px; } }

@media (min-width: 992px) {
  .nav {
    background-image: url("../image/bg-nav-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 95px; }
    .nav-item {
      padding: 25px 15px; }
    .nav-link {
      text-decoration: none;
      color: #4c4a55;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
      letter-spacing: 2px; } }

@media (min-width: 1200px) {
  .nav {
    padding: 20px 230px; } }

.slider {
  text-align: center;
  padding: 20px 30px;
  background-color: #f7f7f7; }
  .slider h3 {
    text-transform: none;
    padding: 15px 30px; }
  .slider p {
    color: #85868a; }
  .slider .slick-prev:before,
  .slider .slick-next:before {
    color: #4c4a55; }

@media (min-width: 992px) {
  .slider p {
    padding: 15px 60px; } }

@media (min-width: 1200px) {
  .slider {
    padding: 80px 60px; }
    .slider p {
      padding: 15px 150px; } }

.shop img {
  width: 100%; }

.shop .test {
  min-height: 200px;
  max-height: 200px; }

.shop .test-2 {
  min-height: 1520px;
  max-height: 1520px; }

.shop .test-3 {
  min-height: 760px;
  max-height: 760px; }

.shop-now {
  background-image: url("../image/shop6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center; }
  .shop-now img,
  .shop-now p {
    display: block;
    padding: 5px 0;
    width: 25%;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 0 4px black;
    background-color: rgba(88, 162, 137, 0.5);
    text-align: center;
    text-transform: uppercase; }

@media (min-width: 576px) {
  .shop .test-2 {
    min-height: 760px;
    max-height: 760px; } }

@media (min-width: 992px) {
  .shop .test-2 {
    min-height: 370px;
    max-height: 370px; }
  .shop .test-3 {
    min-height: 370px;
    max-height: 370px; } }

@media (min-width: 1200px) {
  .shop .test {
    min-height: 250px;
    max-height: 250px; }
  .shop .test-3 {
    min-height: 500px;
    max-height: 500px; } }

.cta {
  text-align: center;
  background-color: #282f35; }
  .cta a {
    display: inline-block;
    margin: 60px;
    background-color: #282f35;
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    transition: 0.5s;
    text-decoration: none; }

@media (min-width: 1200px) {
  .cta a:hover {
    background-color: #fff;
    color: #282f35; } }

.top-text-banner {
  background-color: #f7f7f7;
  padding: 30px 40px;
  text-align: center; }
  .top-text-banner h2 {
    font-size: 18px;
    padding: 10px 5px; }
  .top-text-banner p {
    padding: 20px 10px;
    color: #85868a; }

@media (min-width: 768px) {
  .top-text-banner {
    padding: 20px 80px; } }

@media (min-width: 1200px) {
  .top-text-banner {
    padding: 50px 215px; } }

.image_large {
  position: relative; }
  .image_large .icon-middle {
    width: 25%;
    position: absolute;
    top: 30%;
    left: 40%; }

.three-columns {
  text-align: center; }
  .three-columns .icon-middle {
    width: 40%;
    top: 35%;
    left: 30%; }

.description {
  text-align: center;
  padding: 20px 0 0 0; }
  .description p {
    text-align: left;
    padding: 20px 30px;
    color: #85868a; }

@media (min-width: 992px) {
  .description p {
    padding: 15px 30px; }
  .image_large {
    min-height: 500px;
    max-height: 500px; }
  .min-image {
    object-fit: cover;
    min-height: 500px;
    max-height: 500px; }
  .description {
    padding-top: 70px;
    min-height: 500px;
    max-height: 500px;
    position: relative; }
    .description .small-image {
      min-height: 180px;
      position: absolute;
      bottom: 0;
      left: 0; } }

@media (min-width: 1200px) {
  .image_large {
    min-height: 600px;
    max-height: 600px; }
  .min-image {
    min-height: 600px;
    max-height: 600px; }
  .description {
    min-height: 600px;
    max-height: 600px; }
    .description .small-image {
      min-height: 180px; } }
