.mc-field-group {
    padding: 5px 10px;
}


#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}
.error {
    color: #F00;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
}
.asterisk {
    color:#F00;
    font-size: 18px;
}
.hidden {
    display: none;
}.av-checkbox {
    margin-right: 10px;
}


.email,
.button {
    padding: 15px 45px;
    border: 1px solid $color-gray;
    font-size: 16px;
    font-family: $font-sans-serif;
}
span {
    padding: 0 10px 0 0;
    font-family: $font-sans-serif;
    color: $color-gray;
}
.button {
    background-color: $color-light-green;
    border: 1px solid $color-light-green;
    color: $color-white;
    padding: 15px 30px;
}

@media (min-width: 576px) { 
    .email {
        padding: 10px 50px;
    }
    .button { 
        padding: 10px 45px;
    }
    .mc_fieldset { 
        max-width: 410px;
        margin: 0 auto;
    }
 }

