.footer-bottom {
    text-align: center;
    padding: 60px 0 0 0;
    .footer--description {
        color: $color-gray;
        padding: 20px 0;
        font-size: 20px;
        letter-spacing: 1px;
    }
}
.footer-bottom--col2 {
    background-color: $color-light-gray;
    color: $color-gray;
    text-align: left;
    padding: 80px 0 0 20px;
    h4 {
        text-transform: none;
        font-size: 16px;

    }
    p {
        font-size: 14px;
    }
    .social-media {
        img {
        min-height: 48px;
        max-height: 48px;
        margin: 15px 5px;
        opacity: .7;
        }
    }
    .oblique {
        text-align: center;
        p {
        font-style: italic;
        padding: 0 0 40px 0;
        display: inline-block;
        }
    }
}
@media (min-width: 768px) { 
.footer-bottom--col2 { 
    h4 {
        font-size: 20px;

    }
    p {
        font-size: 16px;
    }
    .social-media {
        padding: 0 10px 0 0;
        max-height: 54px;
        min-height: 54px;
    }
    .oblique {
    margin-top: 20px 0;
    font-size: 18px;
    text-align: center;    
    }
}   
}
@media (min-width: 992px) { 
    .footer-bottom--col2 { 
        .social-media {
            img {
                padding-left: 45px;
            }
        }
        .oblique {
            margin-top: 0;
        }
}
}
@media (min-width: 1200px) { 
    .footer-bottom--col2 { 
        padding: 150px;
        .footer-bottom--col2 { 
            h4 {
                font-size: 16px;
        
            }
            p {
                font-size: 14px;
            }
} 
}
}