$font-serif: 'Roboto Slab', serif;
$font-sans-serif: 'Lato', sans-serif;


$color-light-gray: #f7f7f7;
$color-gray: #85868a;
$color-dark-gray: #4c4a55;
$color-light-green: #58a289;
body {
    height: 300vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}
a,
p {
    font-family: $font-sans-serif;
    font-weight: 400;
    text-decoration: none;
}