$font-sans-serif: 'Lato', sans-serif;
$font-serif: 'Roboto Slab', serif;

// ###########
// ###Color###
// ###########
$color-first: #f7f7f7;
$color-second: #000;
$color-third: #85868a;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}
a,
p {
    font-family: $font-serif;
    font-weight: normal;
}