header {
    height: 100vh;
}
.nav {
background-image: url("../image/bg-nav-header.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
&-item {
    margin-top: 10px;
}
&-link {
    text-decoration: none;
    color: $color-third;
    text-transform: uppercase;
    font-weight: bold;

}
}

@media (min-width: 640px) {
    .nav-link {
        padding-top: 30px;
    }
    .nav-link,
    .float {
        float: left;
        @include clearFix;
        padding-left: 45px;
}
}
@media (min-width: 768px){
    .nav-link,
    .float {
        padding-left: 70px;
}
}

@media (min-width: 800px){
    .nav-link,
    .float {
        padding-left: 75px;
}
}
@media (min-width: 731px) and (orientation: landscape){
    .nav-link,
    .float {
        padding-left: 60px;
}
}

@media (min-width:812px) and (orientation: landscape){
    .nav-link,
    .float {
        padding-left: 75px;
}
}

@media (min-width: 992px) {
        .nav-link,
        .float {
            padding-left: 115px;
    }  
}
@media (min-width: 1200px) {
    .nav-link,
    .float {
        font-size: 26px;
}  
}
@media (min-width: 1350px) {
    .nav-link,
    .float {
        padding-left: 145px;
}  
}