.slider {
    text-align: center;
    padding: 20px 30px;
    background-color: $color-light-gray;
    h3 {
        text-transform: none;
        padding: 15px 30px;
    }
    p {
        color: $color-gray;
    }
    .slick-prev:before,
    .slick-next:before {
        color: $color-dark-gray;
        display: none;
    }
}
@media (min-width: 992px) {
    .slider {
        padding: 0 50px;
        p {
            padding: 15px 60px;
        }
        .slick-prev:before,
        .slick-next:before {
            display: block;
        }
    }
}
@media (min-width: 1200px) {
    .slider {
        padding: 80px 60px;
        p {
            padding: 15px 150px;
        }
    }
}
.shop {
    img{
        width:100%;
    }
    .three-columns-height {
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }
    .three-columns--height {
        min-height: 1520px;
        max-height: 1520px;
        object-fit: cover;

    }
    .three-columns---height {
        min-height: 760px;
        max-height: 760px;
        object-fit: cover;

    }
}
.shop-now {
    background-image: url("../image/shop6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;

    .item-shop{   
        display: block;
        padding: 5px 0;
        width: 25%;
        margin: 0 auto;
        color: $color-white;
        font-size: 14px;
        text-shadow: 0 0 4px $color-black;
        background-color: rgba(88, 162, 137, 0.5);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
}
}
@media (min-width: 576px) {
    .shop {
        .three-columns--height {
            min-height: 760px;
            max-height: 760px;
        }
    }
}
@media (min-width: 992px) {
    .shop {
        .three-columns--height {
            min-height: 370px;
            max-height: 370px;
        }
        .three-columns---height {
            min-height: 400px;
            max-height: 400px;
        }
    }
}
@media (min-width: 1200px) {
    .shop {
        .three-columns-height {
            min-height: 250px;
            max-height: 250px;
        }
        .three-columns---height {
            min-height: 500px;
            max-height: 500px;
        }
    }
}

.cta {
    text-align: center;
    background-color:#282f35 ;
    a {
        display: inline-block;
        margin: 60px;
        background-color: #282f35;
        padding: 10px 50px;
        color: $color-white;
        border: 1px solid $color-white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        transition: 0.5s;
        text-decoration: none;
    }
}
@media (min-width: 1200px) {
    .cta {
        a:hover {
            background-color: $color-white;
            color: #282f35;
        }
    }
}
.top-text-banner {
    background-color: $color-light-gray;
    padding: 30px 40px;
    text-align: center;
    h2 {
        font-size: 18px;
        padding: 10px 5px;
    }
    p {
        padding: 20px 10px;
        color: $color-gray;
    }
}
@media (min-width: 768px) { 
    .top-text-banner {
        padding: 20px 80px;
    }
}
@media (min-width: 1200px) { 
    .top-text-banner {
        padding: 50px 215px;
    }
}

// 

.image_large {
    position: relative;

    .icon-middle {
        width: 25%;
        position: absolute;
        top: 30%;
        left: 40%;
    }
}

.three-columns {
    text-align: center;
    .icon-middle {
        width: 40%;
        top: 35%;
        left: 30%;
    }
}

.description {
    text-align: center;
    padding: 20px 0 0 0;
    p {
        text-align: left;
        padding: 20px 30px;
        color: $color-gray;
    }

}

@media (min-width: 768px) {
    main {
        .min-image,
        .small-image {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

@media (min-width: 992px) { 
    .description {
        p {
            padding: 15px 30px ;
        }
    }
    .image_large {
        min-height: 500px;
        max-height: 500px;
    }
    .min-image {
        object-fit: cover;
        min-height: 500px;
        max-height: 500px;
    }
    .description {
        padding-top: 70px;
        min-height: 500px;
        max-height: 500px;
        position: relative;
        .small-image {
            min-height: 180px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

@media (min-width: 1200px) {
    .image_large {
        min-height: 600px;
        max-height: 600px;
    }
    .min-image {
        min-height: 600px;
        max-height: 600px;
    }
    .description {
        min-height: 600px;
        max-height: 600px;
        .small-image {
            min-height: 180px;
        }
    }
}
// ==========================
// Nowa sekcja
// ==========================