// Base file: css\simple-css-layout.css 
/* Mobile landscape 736px */
@media (min-width: 736px) { 
    .col-mobile-land-33 {
        width: 33.33%;
        float: left;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .col-tablet-33 {
        width: 33.33%;
    }
}
/* Large devices (large tablets, desktops, 992px and up) */
@media (min-width: 992px) { 
    .col-large-tablet-33 {
        width: 33.33%;
    }
}
@media (min-width: 992px) { 
    .col-large-tablet-66 {
        width: 66.67%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .col-desktop-33 {
        width: 33.33%;
    }
}
